@charset "utf-8";
/* @index */
.u-nav{
	padding: 30px 0;
	background-color: #fff;
}
.u-nav .wrap{
	margin: auto;
	width: 960px;
}
.u-nav a{
	float: left;
	margin: 10px;
	width: 140px;
	height: 140px;
	border-radius: 14px;
	background-color: #e8e8e8;
	background-repeat: no-repeat;
	background-position: left top;
	behavior: url(/common/ie-css3.htc);
}

.u-topic{
	padding: 30px 0;
	background-color: #404040;
}
.u-topic .wrap{
	margin: auto;
	width: 960px;
}
.u-topic li{
	float: left;
	margin: 10px;
	width: 300px;
	background-color: #fff;
}
.u-topic li .pic{
	height: 180px;
	background-color: #f0f0f0;
	overflow: hidden;
}
.u-topic li .pic img{
	display: block;
	width: 100%;
}
.u-topic li .note{
	height: 44px;
	padding: 6px 12px;
	line-height: 22px;
	font-family: "Microsoft YaHei";
}
.u-topic li .note a{
	color: #606060;
	text-decoration: none;
}
.u-topic li .note a:hover{
	color: #303030;
}


