@charset "utf-8";
body{
	background-color: #f2f2f2;
}
/* @index */
.u-wrap{
	margin: auto;
	padding: 4px
}
.u-td{
	float: left;
	width: 228px;
}
.u-td .wrap{
	padding: 4px;
}
.u-td .contain{
	width: 200px;
	border: solid 1px #eee;
	padding: 9px 9px 8px;
	background-color: #fff;
}
.u-td .pic img{
	display: block;
	width: 100%;
}
.u-td .title{
	padding-top: 6px;
	color: #606060;
	font-family: "Microsoft YaHei";
}

.u-foot{
	padding: 0 20px;
	border-top: dashed 1px #d2d2d2;
	line-height: 32px;
	color: #aaa;
	font-family: "Courier New", Courier, monospace;
	font-size: 14px;
}
.u-foot a{
	color: #aaa;
	text-decoration: none;
}
.u-foot a:hover{
	color: #ff9900;
}