.u-module{}
.u-module .title{
	float: left;
	margin-right: 4px;
	padding: 4px 0;
	font-size: 14px;
	color: #bbb;
	font-family: "Microsoft YaHei";
}
.u-module a{
	float: left;
	margin-right: 12px;
	padding: 6px 10px;
	border: solid 1px #f0f0f0;
	color: #bbb;
	font-size: 14px;
	text-decoration: none;
}
.u-module a:hover{
	color: #c00000;
	border-color: #e7e7e7;
}

