html, body{
	margin: auto;
	width: 640px;
	background-color: #014a8c;
	overflow: hidden;
}

.u-head{
	height: 70px;
	background: url(../img/head.jpg) no-repeat left top;
	text-align: right;
	font-size: 14px;
	color: #fff;
}
.u-head .marquee{
	float: right;
	padding-top: 36px;
	width: 373px;
	height: 27px;
	overflow: hidden;
}
.u-head .content{
	height: 27px;
	padding-left: 13px;
	line-height: 27px;
	background: url(../img/marquee.png) no-repeat right top;
}

.u-nav{
	height: 34px;
	background: url(../img/nav_bg.gif) repeat-x center top;
	text-align: center;
}
.u-nav ul{
	margin: auto;
	width: 540px;
	padding-top: 3px;
}
.u-nav li{
	float: left;
	width: 57px;
	height: 26px;
	padding: 0 9px;
}
.u-nav li.line{
	width: 2px;
	padding: 0;
	overflow:hidden;
	background: url(../img/nav_line.png) no-repeat left top;
}
.u-nav li span{
	float: left;
	width: 57px;
	height: 26px;
	line-height: 26px;
	font-size: 14px;
	font-family: "Microsoft YaHei";
	color: #fff;
	text-align: center;
}
.u-nav li a{
	color: #fff;
}
.u-nav li.current{
	background: url(../img/nav.png) no-repeat center top;
}

.u-main{
	margin: 10px auto 0;
	width: 628px;
	height: 324px;
	overflow: hidden;
}
.u-main .news{
	float: left;
	width: 230px;
	height: 324px;
	overflow: hidden;
	background: url(../img/news.jpg) no-repeat left top;
}
.u-main .tv{
	float: right;
	width: 398px;
	height: 324px;
	overflow: hidden;
	background: url(../img/tv.jpg) no-repeat left top;
}
.u-main .newslist{
	height: 264px;
	padding: 35px 9px 0;
	font-size: 14px;
	font-family: "Microsoft YaHei";
}
.u-main .newslist p{
	height: 27px;
	line-height: 27px;
	padding-left: 8px;
	border-bottom: solid 1px #155590;
	overflow: hidden;
	background: url(../img/round.png) no-repeat 8px 11px;
}
.u-main .newslist a{
	display: block;
	padding-left: 14px;
	color: #fff;
}
.u-main .bottommore{
	width: 224px;
	height: 18px;
	text-align: right;
}
.u-main .tvpic{
	position: relative;
	padding: 13px 0 0 14px;
	width: 373px;
	height: 292px;
	overflow: hidden;
}
.u-main .tvpic img{
	width: 100%;
}
.u-main .tvpic .play{
	position: absolute;
	width: 72px;
	height: 72px;
	top: 121px;
	left: 169px;
}
.u-main .tvpic .play img{
	width: 72px;
	height: 72px;
}

.u-bottom{
	margin: auto;
	width: 628px;
	height: 84px;
	overflow: hidden;
	background: url(../img/bottom.jpg) no-repeat left top;
}
.u-bottom ul{
	padding: 7px 0 0 20px;
}
.u-bottom li{
	float: left;
	margin-right: 16px;
	width: 102px;
	height: 65px;
	border: solid 1px #8badcc;
	overflow: hidden;
}
.u-bottom li img{
	width: 102px;
	height: 65px;
}
