@charset "utf-8";
/* @topic */
.u-pub{
	margin: auto;
	width: 960px;
	padding-top: 30px;
}
.u-pub .btn{
	float: right;
	width: 136px;
	cursor: pointer;
}
.u-message{
	margin: auto;
	width: 960px;
	padding: 20px 0;
}